#page1.gwd-play-animation .gwd-motion-path-3a8h-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-55.44px", "72.22px", "0.06px", "-128.76px", "-45.26px", "-91.67px", "-45.26px", "-91.67px", "-75.81px", "-66.67px", "-136.07px", "0px", "-163px", "0px"], "startTimeMs": 0, "endTimeMs": 912, "easing": "linear"
    }
    , {
      "controlPoints": ["-163px", "0px", "-163px", "0px", "-163px", "0px", "-163px", "0px"], "startTimeMs": 912, "endTimeMs": 3438, "easing": "linear"
    }
    , {
      "controlPoints": ["-163px", "0px", "-163px", "0px", "-163px", "0px", "-163px", "0px"], "startTimeMs": 3438, "endTimeMs": 3587, "easing": "linear"
    }
    , {
      "controlPoints": ["-163px", "0px", "-163px", "0px", "-163px", "0px", "-163px", "0px"], "startTimeMs": 3587, "endTimeMs": 7075, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-3a8h-keys-x 7.075s linear 0s infinite normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-3a8h-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  0.16% {
    transform: translate3d(-2.4px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3825, 0.2724, 0.5346, 0.9559);
  }
  1.8% {
    transform: translate3d(-26.18px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.8714, 0.0818, 0.7332, -0.3929);
  }
  6.54% {
    transform: translate3d(-45.26px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3343, 0.33, 0.7069, 0.63);
  }
  12.89% {
    transform: translate3d(-163px, 0px, 0px);
  }
  48.59% {
    transform: translate3d(-163px, 0px, 0px);
  }
  50.7% {
    transform: translate3d(-163px, 0px, 0px);
  }
  100% {
    transform: translate3d(-163px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-3a8h-anim-y {
  animation: gwd-motion-path-3a8h-keys-y 7.075s linear 0s infinite normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-3a8h-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1542, 0.1825, 0.7707, 1.8706);
  }
  1.31% {
    transform: translate3d(0px, 12.52px, 0px);
    animation-timing-function: cubic-bezier(0.3382, 0.3276, 0.6567, 0.6821);
  }
  5.88% {
    transform: translate3d(0px, -94.54px, 0px);
    animation-timing-function: cubic-bezier(0.3404, -1.6509, 0.8408, 0.5809);
  }
  6.54% {
    transform: translate3d(0px, -91.67px, 0px);
    animation-timing-function: cubic-bezier(0.3327, 0.3269, 0.6283, 0.7218);
  }
  12.41% {
    transform: translate3d(0px, -2.65px, 0px);
  }
  12.73% {
    transform: translate3d(0px, -0.38px, 0px);
  }
  12.89% {
    transform: translate3d(0px, 0px, 0px);
  }
  48.59% {
    transform: translate3d(0px, 0px, 0px);
  }
  50.7% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}