#page1.gwd-play-animation .gwd-motion-path-6b8w-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["1px", "0px", "-39.13px", "121.74px", "-163.04px", "-191.3px", "-198px", "0px"], "startTimeMs": 0, "endTimeMs": 1676, "easing": "linear"
    }
    , {
      "controlPoints": ["-198px", "0px", "-209.92px", "65.25px", "21.77px", "-63px", "1px", "0px"], "startTimeMs": 1676, "endTimeMs": 2200.99, "easing": "linear"
    }
    , {
      "controlPoints": ["1px", "0px", "1px", "0px", "1px", "0px", "1px", "0px"], "startTimeMs": 2200.99, "endTimeMs": 4156, "easing": "linear"
    }
    , {
      "controlPoints": ["1px", "0px", "1px", "0px", "1px", "0px", "1px", "0px"], "startTimeMs": 4156, "endTimeMs": 4294, "easing": "linear"
    }
    , {
      "controlPoints": ["1px", "0px", "1px", "0px", "1px", "0px", "1px", "0px"], "startTimeMs": 4294, "endTimeMs": 9519, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-6b8w-keys-x 9.519s linear 0s infinite normal forwards;
  transform:translate3d(1px, 0px, 0px);
}
@keyframes gwd-motion-path-6b8w-keys-x {
  0% {
    transform: translate3d(1px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4324, 0.2279, 0.7564, 0.5796);
  }
  2.2% {
    transform: translate3d(-19.7px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2826, 0.3801, 0.668, 0.6633);
  }
  10.56% {
    transform: translate3d(-127.41px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3346, 0.4152, 0.4207, 0.8628);
  }
  17.61% {
    transform: translate3d(-198px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4066, -0.1628, 0.7749, 0.7676);
  }
  18.57% {
    transform: translate3d(-170.59px, 0px, 0px);
  }
  22.71% {
    transform: translate3d(-2.26px, 0px, 0px);
  }
  22.85% {
    transform: translate3d(1.54px, 0px, 0px);
  }
  22.98% {
    transform: translate3d(2.25px, 0px, 0px);
  }
  23.12% {
    transform: translate3d(1px, 0px, 0px);
  }
  43.66% {
    transform: translate3d(1px, 0px, 0px);
  }
  45.11% {
    transform: translate3d(1px, 0px, 0px);
  }
  100% {
    transform: translate3d(1px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-6b8w-anim-y {
  animation: gwd-motion-path-6b8w-keys-y 9.519s linear 0s infinite normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-6b8w-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4208, 9.3301, 0.427, 9.9093);
  }
  5.72% {
    transform: translate3d(0px, 3.94px, 0px);
  }
  7.92% {
    transform: translate3d(0px, -21.07px, 0px);
    animation-timing-function: cubic-bezier(0.1671, 0.1846, 0.7008, 1.215);
  }
  13.21% {
    transform: translate3d(0px, -62.08px, 0px);
    animation-timing-function: cubic-bezier(0.3859, 0.228, 0.6884, 0.6743);
  }
  17.61% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2239, 2.1984, 0.2962, 2.624);
  }
  19.68% {
    transform: translate3d(0px, 9.57px, 0px);
    animation-timing-function: cubic-bezier(0.1582, 0.1485, 0.9076, 2.0286);
  }
  22.85% {
    transform: translate3d(0px, -11.31px, 0px);
  }
  23.12% {
    transform: translate3d(0px, 0px, 0px);
  }
  43.66% {
    transform: translate3d(0px, 0px, 0px);
  }
  45.11% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}